/* RESET */
* { margin:0; padding:0; box-sizing:border-box; }
html, body { height:100%; overflow:hidden; }

body {
  height:100dvh;
  font-family: system-ui;
  color:white;
  background:#182435e1;
}

/* FX */
.fx-layer {
  position:fixed;
  inset:0;
  z-index:1;
  pointer-events:none;
}

.beam {
  position:absolute;
  width:120%;
  height:200%;
  filter:blur(40px);
}

.beam-1 {
  top:-40%; left:-60%;
  background:linear-gradient(120deg,transparent 30%,rgba(10, 255, 243, 0.26),transparent 70%);
  animation:beamMove1 14s linear infinite;
}

.beam-2 {
  top:-30%; right:-60%;
  background:linear-gradient(100deg,transparent 30%,rgba(15, 203, 250, 0.137),transparent 70%);
  animation:beamMove2 18s linear infinite;
}

.dust {
  position:absolute;
  inset:0;
  background:radial-gradient(rgba(2, 229, 245, 0.322) 1px, transparent 1px);
  background-size:40px 50px;
  opacity:0.01;
  animation:drift1 40s linear infinite;
}

/* STATE */
.state-layer {
  position:fixed;
  inset:0;
  z-index:2;
  background:url("../assets/state-Idle.png") center/contain no-repeat;
}

/* UI */
.ui-layer {
  position:relative;
  z-index:4;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:100px 30px;
}

/* LOGO */
.logo-wrap {
  position:relative;
  margin-bottom:70px;
}

.logo {
  width:110px;
  filter:
    drop-shadow(0 0 10px rgba(3,166,166,0.5))
    drop-shadow(0 0 30px rgba(122,184,191,0.25));
}

/* GLASS */
.glass-sheet {
  width:100%;
  max-width:360px;

  display:flex;
  flex-direction:column;
  gap:14px;

  backdrop-filter:blur(20px);
  background:rgba(3, 88, 138, 0.356);
  border-radius:24px;
  padding:20px;
}

/* INPUT */
textarea {
  width:100%;
  height:90px;
  border:none;
  outline:none;
  border-radius:16px;
  padding:12px;

  background:rgba(19, 52, 56, 0.164);
  color:white;
}

/* ACTIONS */
.actions {
  display:flex;
  gap:10px;
}

.button-wrap {
  flex:1;
  position:relative;
}

.button-shadow {
  position:absolute;
  inset:-6px;
  filter:blur(6px);
}

button {
  all:unset;
  cursor:pointer;
  width:100%;
  border-radius:999px;

  background:linear-gradient(
    -75deg,
    rgba(255,255,255,0.05),
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.05)
  );

  box-shadow:
    inset 0 2px 2px rgba(0,0,0,0.05),
    inset 0 -2px 2px rgba(255,255,255,0.5),
    0 4px 6px rgba(0,0,0,0.2);
}

button span {
  display:block;
  text-align:center;
  padding:10px;
  font-size:13px;
}

/* RESULT */
#resultBox {
  min-height:40px;
}

/* SCAN BUTTON */
.scan-wrap {
  margin-top:10px;
}

.cta span {
  font-size:15px;
  font-weight:700;
  padding:14px;
}

/* ANIMATION */
@keyframes beamMove1 {
  0% { transform: translateX(-60%) rotate(10deg); }
  100% { transform: translateX(160%) rotate(10deg); }
}

@keyframes beamMove2 {
  0% { transform: translateX(60%) rotate(-10deg); }
  100% { transform: translateX(-160%) rotate(-10deg); }
}

@keyframes drift1 {
  50% { transform: translate(-5%, -8%); }
}